name: upload
run-name: Upload
on:
  push:
    branches:
      - main
concurrency:
  group: upload-${{ github.ref }}
  cancel-in-progress: true
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - run: sudo apt install lftp
    - name: "Upload"
      run: |
        lftp -u "${{ secrets.FTP_USER }}","${{ secrets.FTP_PASSWORD }}" "${{ secrets.FTP_HOST }}" \
          -e "set ssl:verify-certificate no; \
              set cmd:fail-exit yes; \
              mirror -R \
                --delete \
                --continue \
                --verbose \
                --ignore-time \
                --no-overwrite \
                --exclude .git/ \
                --exclude .github/ \
                . /; \
              quit"
